*~
*.vo
*.glob
*.aux
*.d
lia.cache

/_CoqProject
Makefile.coq
/.depend.extr
/compcert.ini
# should plugin/Makefile.coq be ignored?
plugin/Makefile.coq.bak

*.cmi
*.cmo
*.cmx
*.cmxs
*.o
/ccomp
/extraction/*.ml
/extraction/*.mli

OeufDriver.native
_build/

shim.c
a.out

/test/*.actual
