#If we can do this without sudo, the VM boots up faster
sudo: false
os: linux
dist: trusty

#setting it to C seems to keep it from doing extra work
language: c

notifications:
  slack:
    rooms:
      - uw-cse:NtqlntTgcEYOs5LRTK9zhSoJ#oeuf
    on_success: always
    on_failure: always
  email: false

# uncomment and rebuild if cache gets corrupted
addons:
  apt : 
    sources:
      - sourceline : 'ppa:avsm/ppa' 
    packages : 
      - opam
      
before_install:
   - echo "before_install"
   - export PATH="$HOME/.cache/bin:$PATH"
   - export PATH="$HOME/.opam/4.02.3/bin:$PATH"

install:
   - echo "install step"
   - ./scripts/install_ocaml.sh
   - ./scripts/install_coq85.sh
   - pushd ..
   - ./oeuf/scripts/build_struct_tact.sh
   - ./oeuf/scripts/build_pretty_parsing.sh
   - popd
   - pushd compcert
   - ./configure ia32-linux
   - make -j2
   - popd

before_script:
   - echo "before_script"

script:
   - pwd
   - ls
   - which coqc
   - coqc --version
   - ./configure
   - make plugin
   - make -j1 || true
   - make -j1 || true
   - make -j1

before_cache:
   - echo "before_cache"

cache:
  apt: true
  directories:
    - $HOME/.cache/lib
    - $HOME/.cache/bin
    - $HOME/.cache/coq
    - $HOME/.opam
    - $HOME/compcert
    # - $HOME/../StructTact
    # - $HOME/../PrettyParsing

after_success:
   - echo "after_success"

after_script:
   - echo "after_script"

