#If we can do this without sudo, the VM boots up faster
sudo: false
os: linux
dist: trusty

#setting it to C seems to keep it from doing extra work
language: c

notifications:
  slack:
    rooms:
      - uw-cse:NtqlntTgcEYOs5LRTK9zhSoJ#oeuf
    on_success: always
    on_failure: always
  email: false
  
addons:
  apt : 
    sources:
      - sourceline : 'ppa:avsm/ppa' 
    packages : 
      - opam
      
before_install:
   - echo "before_install"
   - export PATH="$HOME/cache/bin:$PATH"

install:
   - echo "install"
   - ./scripts/install_ocaml.sh
   - eval $(opam config env)
   - ./scripts/install_coq85.sh
   - cp $HOME/.cache/coq/coq-8.5pl3/coqc $HOME/.cache/bin/
   - cd $HOME
   # - git clone "git@github.com:uwplse/StructTact.git"
   # - git clone "git@github.com:wilcoxjay/PrettyParsing.git"

before_script:
   - echo "before_script"

script:
   - which ocaml
   - ocaml -version
   - which coqc
   - coqc --version
   - echo "script"

before_cache:
   - echo "before_cache"

cache:
  apt: true
  directories:
    - $HOME/.cache/lib
    - $HOME/.cache/bin
    - $HOME/.cache/coq
    - $HOME/.opam

after_success:
   - echo "after_success"

after_script:
   - echo "after_script"

