#If we can do this without sudo, the VM boots up faster
sudo: false
os: linux
dist: trusty

#setting it to C seems to keep it from doing extra work
language: c

addons:
  apt:
    packages:
      - opam

before_install:
   - echo "before_install"

install:
   - opam init -y --comp=4.06.1
   - opam update
   - eval $(opam config env)
   - ocaml -version
   - ./scripts/install_coq85.sh
   - echo "install"

before_script:
   - echo "before_script"

script:
   - echo "script"

before_cache:
   - echo "before_cache"

cache:
  apt: true
  directories:
    - $HOME/.cache/bin
    - $HOME/.opam

after_success:
   - echo "after_success"

after_script:
   - echo "after_script"

