#If we can do this without sudo, the VM boots up faster
sudo: false
dist: trusty

language: c

before_install:
   - echo "before_install"

install:
   - echo "install"

before_script:
   - echo "before_script"

script:
   - echo "script"

before_cache:
   - echo "before_cache"

after_success:
   - echo "after_success"

after_script:
   - echo "after_script"

